<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact - PoultryDetect</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/styles.css') }}">
</head>
<body>
    <header>
        <div class="logo">PoultryDetect</div>
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">HOME</a></li>
                <li><a href="{{ url_for('about') }}">ABOUT</a></li>
                <li><a href="{{ url_for('contact') }}" class="active">CONTACT</a></li>
            </ul>
        </nav>
    </header>
    <center>
    <main>
        <h1>Contact Us</h1><br>
        <p>Email: 23b01a05c0@svecw.edu.in</p>
        <h1></h1>
        <p>Location: Andhra Pradesh, India</p>
    </main>
    </center>
</body>
</html>
