<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Prediction Result</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/style.css') }}">
</head>
<body>
  <h1>Prediction Result</h1>

  {% if image_name %}
    <img src="{{ url_for('static', filename='uploads/' + image_name) }}" width="300">
  {% endif %}

  <h2>The infection type detected is: <strong>{{ predict }}</strong></h2>

  <a href="{{ url_for('predict_page') }}">Try Another Image</a>
</body>
</html>
